<button class="btn-go-back" (click)="goBack()">
  Go Back
</button>

@if (userDetails) {
  <div>
    <h2>{{userDetails.name}}</h2>
    <div class="user-details">
      <img class="user-avatar" [src]="userAvatar">
      <div class="user-right-section">
        <div class="user-properties">
          <div>Id: {{userDetails.id}}</div>
          <div>Email: {{userDetails.email}}</div>
          <div>Title: {{userDetails.title || 'N/A'}}</div>
        </div>
        <app-presence-picker [user]="userDetails"></app-presence-picker>
      </div>
    </div>
    <hr>
      @if (userQueues) {
        <div>
          <h3>Queues ({{userQueues.length}})</h3>
          @for (queue of userQueues; track queue) {
            <app-queue-details [queue]=queue></app-queue-details>
          }
        </div>
      }
    </div>
  } @else {
    <div class="spinner">
      <img src="assets/loading.svg" alt="Loading..." srcset="">
    </div>
  }

