<button class="btn-go-back" (click)="goBack()">
  Go Back
</button>

<div *ngIf="userDetails; else userDetailsUnavailable">
  <h2>{{userDetails.name}}</h2>

  <div class="user-details">
    <img class="user-avatar" [src]="userAvatar">

    <div class="user-right-section">
      <div class="user-properties">
        <div>Id: {{userDetails.id}}</div>
        <div>Email: {{userDetails.email}}</div>
        <div>Title: {{userDetails.title || 'N/A'}}</div>
      </div>

      <app-presence-picker [user]="userDetails"></app-presence-picker>
    </div>
  </div>
  
  

  <hr>

  <div *ngIf="userQueues">
    <h3>Queues ({{userQueues.length}})</h3>
    <app-queue-details *ngFor="let queue of userQueues" [queue]=queue></app-queue-details>
  </div>
</div>

<ng-template #userDetailsUnavailable>
  <div class="spinner">
    <img src="assets/loading.svg" alt="Loading..." srcset="">
  </div>
</ng-template>
