<div class="container">
  @if (user.presence?.presenceDefinition?.systemPresence !== 'Offline') {
    <div
      >
      <select
        name="presence"
        id="presence" #presence
        (change)="onPresenceChange(presence.value)"
        >
        @for (presence of presenceDefinitions; track presence) {
          <option
            [value]="presence.id"
            [selected]="user.presence?.presenceDefinition?.id === presence.id"
            >
            {{presence.languageLabels[languageLabel]}}
          </option>
        }
      </select>
      <button (click)="logoutUser()">Logout</button>
    </div>
  } @else {
    <div class="userOffline">
      Offline
    </div>
  }
</div>
