<div>
  <form action="#" autocomplete="off">
    <input
      type="text" #searchBox
      id="search-box"
      [value]="this.searchTerm.value"
      (input)="searchQueue(searchBox.value)"
      placeholder="Queue Name" />
  </form>

  @if (fetching) {
    <div>
      <div class="spinner">
        <img src="assets/loading.svg" alt="Loading..." srcset="">
      </div>
    </div>
  }

  <div class="queues-container">
    @for (queue of queues$ | async; track queue) {
      <div
        class="queue-list-entry"
        >
        <app-queue-details [queue]="queue"></app-queue-details>
      </div>
    }
  </div>
</div>
