.header {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 5px;
  text-align: center;
  background: #1976D2;
  color: white;
  font-size: 12px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
}

.header img {
  width: 44px;
  height: 44px;
  margin-right: 12px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 1px #8abef1;
}

#main-nav {
  background-color: white;
}

#main-nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;

  border-bottom: 1px solid #ddd;
}


#main-nav li a {
  display: block;
  color: #555;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-left: 1px solid #ddd;
}

#main-nav li:last-child a {
  border-right: 1px solid #ddd;
}

#main-nav li a:hover {
  background-color: #ddd;
  color:#1976D2;
}

main {
  background-color: white;
  transition: 1.0s;

  min-height: 200px;
  max-width: 900px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 35px;
  margin: auto;

  border: 1px solid #ccc;
  border-top: none;
}
